<div id="wrapper">
	<!-- Sidebar -->
	<div id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<li class="sidebar-brand">
				<a href="#">
					Shoppist
				</a>
			</li>
			<li>
				{{#link-to 'lists'}}
					<span class="glyphicon glyphicon-th-list inline" aria-hidden="true"></span>
					My lists
				{{/link-to}}
			</li>
			{{#if session.isAuthenticated}}
			<li>
				{{#link-to 'profile'}}
					<span class="glyphicon glyphicon-user inline" aria-hidden="true"></span>
					Profile
				{{/link-to}}
			</li>
			<li>
				<a href="#" {{action 'invalidateSession'}}>
					<span class="glyphicon glyphicon-log-out inline" aria-hidden="true"></span>
					Logout
				</a>
			</li>
			{{else}}
			<li>
				{{#link-to 'login'}}
					<span class="glyphicon glyphicon-log-in inline" aria-hidden="true"></span>
					Login
				{{/link-to}}
			</li>
			{{/if}}
			<li>
				{{#link-to 'shops'}}
					<span class="glyphicon glyphicon-shopping-cart inline" aria-hidden="true"></span>
					Shops
				{{/link-to}}
			</li>
			<li>
				{{#link-to 'about'}}
					<span class="glyphicon glyphicon-question-sign inline" aria-hidden="true"></span>
					About
				{{/link-to}}
			</li>
			<li>
				{{#link-to 'contact'}}
					<span class="glyphicon glyphicon-envelope inline" aria-hidden="true"></span>
					Contact
				{{/link-to}}
			</li>
		</ul>
	</div>
	<!-- /#sidebar-wrapper -->

	<!-- Page Content -->
	<div id="page-content-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<h1>Shoppist</h1>
					<hr>
					{{outlet}}
				</div>
			</div>
		</div>
	</div>
	<!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->