<h2>New list</h2>

<p>
	Here you can create a new list. You can go back to the {{#link-to 'lists'}}lists{{/link-to}}  page as well.
</p>

<form role="form">
	<div class="form-group">
		<label for="listName">List name</label>
		<input type="text" class="form-control" id="listName" placeholder="Name of your list">
	</div>
	<div class="form-group">
		<label for="listName">List content</label>
	</div>
</form>